h1{
    color: brown;

}
h2{
    color: crimson;
}
ol{
    color: brown;
    line-height: 50px;
}
ul{
    color:brown;
}
span{

    color: red;
}
span{
    background-color: yellow;
}
.text{
    letter-spacing:5px;
}
.IV{
    font-style: italic;
}
a{
       color: red;
    text-decoration: none;
    font-style: italic;
}
